<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {{!-- so what we want to do now in html is to render a partial here by using {{>}} --}}

  {{>header}}
   <p>please help me

  <footer>created by {{footer}}</footer>
</body>
</html>