<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/style.css">
    <script src="../../public/script.js"></script>

    

</head>

<body>
    {{>header}}
    <h1> welcome here michael</h1>
 <form action="/">
      <input type="text" placeholder="input city">
      <button>search</button>
 </form>
</body>
</html>


